@import "./result-page.scss";
@import "./url-page.scss";

.sidebar {
  position: fixed;
  height: 100vh;
  width: 70px;
  background-image: linear-gradient(235deg, #4860bc, #7842b9);
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
  &-container {
    background-color: #324383;
    padding: 10px 0;
    text-align: center;
  }
}

.menu {
  &__container:hover {
    background-color: #324383;
  }

  .is-active {
    background-color: #324383;
    position: relative;
    ::before {
      content: "";
      display: block;
      width: 3px;
      height: 100%;
      background-color: #f8e71c;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  .logo {
    height: 40px;
    padding: 14px 23px;
  }

  &__website {
    background: url("./website-logo.svg") no-repeat center center;
    margin-top: 40px;
  }

  &__migrator {
    background: url("./migrator.svg") no-repeat center center;
    margin-top: 20px;
  }
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

input:focus {
  outline: 0;
}

.loading {
  text-align: center;
  padding-top: 150px;
  background: url("./infinity.svg") no-repeat center center;
}

.error-message {
  line-height: 40px;
  background: red;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0;
  color: white;
}

.debug-key {
  text-transform: capitalize;
}
