@import "./result-page.scss";
@import "./url-page.scss";

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

input:focus { outline: 0 }

.loading {
  text-align: center;
  padding-top: 150px;
  background: url('./infinity.svg') no-repeat center center;
}

.error-message {
  line-height: 40px;
  background: red;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0;
  color: white;
}

.debug-key {
  text-transform: capitalize;
}
