.migrator {
  font-family: var(--brandType);
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .migrator {
    margin: 0 30px 0 100px;
  }
}

.heading {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  line-height: var(--lh-1);
  color: var(--mono-5);
  margin: 80px 0 12px 0;
  text-align: left;
}

.content {
  font-size: var(--fs-m);
  line-height: var(--lh-3);
  color: var(--mono-5);
  margin: 0 0 24px 0;
  text-align: left;
}

.container {
  box-shadow: var(--box-shadow-0);
  background-color: var(--white);
  padding: 30px;
  overflow: visible;
}

.result-heading {
  margin: 0;
  font-family: inherit;
  font-size: var(--fs-m);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-2);
  letter-spacing: normal;
  color: var(--mono-5);
}

.error-message {
  margin-left: 1.25em;
}

.error-id {
  margin-left: 1em;
  display: block;
}

.error-list,
.warning-list,
.good-list {
  list-style: none; /* Remove default bullets */
}

.error-list li,
.warning-list li,
.good-list li{
  margin-bottom: 1em; /* Remove default bullets */
}

.error-list li::before {
  color: var(--danger);
}

.warning-list li::before {
  color: var(--warning);
}

.good-list li::before {
  color: var(--success);
}

.error-list li::before,
.warning-list li::before,
.good-list li::before {
  content: "\2B24";
  font-size: var(--fs-xxs);
  font-weight: var(--fw-bold);
  display: inline-block;
  margin-left: -1.5em;
}
