@import "./result-page";
@import "./url-page";

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

#container {
  max-width: 750px;
  margin: auto;
}

h1 {
  text-align: center;
}
