@import "./result-page";
@import "./url-page";

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

#container {
  max-width: 750px;
  margin: auto;
}

h1 {
  text-align: center;
}

.loading {
  text-align: center;
  padding-top: 150px;
  background: url('./infinity.svg') no-repeat center center;
}

.error-message {
  line-height: 40px;
  background: red;
  text-align: center;
  border-radius: 10px;
  margin: 10px 0;
  color: white;
}

.debug-key {
  text-transform: capitalize;
}
