<!DOCTYPE html>
<html>
  <head>
    <title>Quintype Validator</title>
    <%_ const cssPath = assetPath("app.css") _%>
    <%_ if(cssPath) { _%>
      <link rel="stylesheet" type="text/css" href="<%= cssPath %>" />
    <%_ } _%>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <script type="text/javascript">var qtReady = qtReady || [];</script>
  </head>

  <body>
    <div id="container"></div>
    <script type="text/javascript" src="<%= assetPath("app.js") %>" async></script>
   </body>
</html>
